APP_ENV=prod

X_BEARER=BEARER_TOKEN #Bearer code for conncetion with X
X_HANDLE=@handle #X handle used for filtering
X_ID=1769783850278735871 #X id of the handle to listen to

REDIS_HOST=app-twitterimage-redis-1
REDIS_PORT=6379
REDIS_PASSWORD=password